<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- dislay only if user is "signed_in" -->
	<% if logged_in? %>
		<div class="user-info">
			Current User: <%= current_user.name %>
		</div>
	<% end %>

<div class="container">
	<%= yield %>
</div>

</body>
</html>
